 .card-body2 {
/* fallback for old browsers */
    background: #BEECB1;
    border-radius: 6px;
}


.container2 {
    background: #F9E7EF;
    border-radius: 6px;
    height: 80vh;
}


.card-body {
    background: #FAC3DC;
    border-radius: 17px;
    height: 53vh;
}


.button_login {
    background: #EBA8C6;
    border-color: #da95b0;
}


.button_voltar {
    background: #1DA66D;
    border-color: #4E9E65;
}


.button_sing {
    background: #71B384;
    border-color: #4E9E65;
}

h4 {
    font-family: ' ', sans-serif;
    display: flex;
    justify-content: center;
    text-shadow:  0 2px 4px dimgrey;
}

h2 {
    display: flex;
    justify-content: center;
    color: white;
    text-shadow:  0 2px 4px darkgrey;
    margin: 20px 0;
}

h5 {
    display: flex;
    justify-content: center;
    color: white;
    text-shadow:  0 2px 4px darkgrey;
}


.fundo {
    height: 100vh;
    overflow: hidden;

}




.card-body3 {
/* fallback for old browsers */
    background: #DAEFD5;
    border-radius: 6px;
    border: 6px solid #EBA8C6;
}

.card4 {
    background: #F9E7EF;
    border-radius: 6px;
    width: 100%;
}




* {
    margin: 0;
    padding: 0;
}


.container4 {
    display: block;
    width: 100vw;
    height: 100vh;
}


.topo-alt {
  background-color: #FEDBEA; /* rosa claro */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  color: white;
  font-size: 30px;
  text-shadow:  0 2px 4px darkgrey;
}


button {
    width: 80px;
    height: 30px;
    background-color: #E086AE;
    color: white;
    box-shadow: 2px 4px 5px #da95b0;
    margin-bottom: 10px;
    border-radius: 20px;

}

select {
    width: 80px;
    height: 30px;
    background-color: #E086AE;
    color: white;
    box-shadow: 2px 4px 5px #da95b0;
    margin-bottom: 100px;
    border-radius:  20px;
}


nav {
    background-color: #FFBBD9;
    height: calc(100vh - 120px);
    /*border-right: 1px solid;*/
    text-align: center;
    float: left;
    font-size: 18px;
    width: 11%;
}


main {
    height: calc(100vh - 130px);
    background-color: #BEECB1;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}