* {
    margin: 0;
    padding: 0;
}

.fundo {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2b6c8;
    margin: 0;
    padding: 0;
}

.purple-purse-regular {
    font-family: "Purple Purse", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container2 {
    background: #F9E7EF;
    border-radius: 6px;
    height: 80vh;
    padding-top: 10px;
    padding-bottom: 20px;
    gap: 10px;
}

main {
    height: calc(100vh - 110px);
    max-height: calc(100vh - 110px);
    width: 100%;
    max-width: calc(100vw - 241px);
    background-color: #BEECB1;
    font-size: 16px;
    overflow: scroll;
    scrollbar-width: none;
}

nav {
    background-color: #FFBBD9;
    height: calc(100vh - 110px);
    text-align: center;
    float: left;
    font-size: 18px;
    width: 17%;
}

ul {
    list-style-type: none;
    width: 600px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h4 {
    font-family: "Purple purse", sans-serif;
    text-shadow: 0 20px 20px lightgrey;
    display: flex;
    justify-content: center;
}

h5 {
    color: white;
}

p {
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}

label {
    color: #5d9c5d;
    font-weight: bold;
    width: 100%;
}

.card {
    background-color: #d9f5d6;
    border: 4px solid #8fbf8f;
    padding: 20px 40px;
    border-radius: 12px;
    text-align: center;
    max-width: 900px;
    width: 120%;
    height: 500px;
    align-items: center;
}


.card h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1px;
    color: #fff;
    text-shadow: 1px 1px 2px #999;
}

.card h2 {
    font-size: 1.2rem;
    font-style: italic;
    color: #b77a91;
    margin-bottom: 20px;
}


.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 30px;
    margin-bottom: 20px;
    text-align: left;
}


.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 1px 3px darkgrey;
}


.form-group input {
    width: 100%;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    background-color: #6fbf7f;
    color: white;
    font-size: 1rem;
}

.form-group input::placeholder {
    color: #6fbf7f;
}

.inicial-container img {
    width: 70%;
}

.btn-primary {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: #5fa56e;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-secondary {
    margin-top: 10px;
    padding: 6px 14px;
    border: none;
    border-radius: 20px;
    background-color: #2f9e44;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
}

.button_login {
    background: #EBA8C6;
    border-color: #da95b0;
    border-radius: 20px;
    color: white;
}

.button_login:hover {
    background-color: #da95b0;
    color: white;
}

.login-container img {
    width: 80%;
}

.button_sing {
    background: #71B384;
    border-color: #4E9E65;
    color: white;
    border-radius: 20px;
}

.button_sing:hover {
    background-color: #4E9E65;
    border-color: #327746;
    color: white;
}

.btn.button_sing:active {
    background-color: #4E9E65;
    color: white;
    border-color: #327746;
}

.btn.button_sing:active {
    background-color: #da95b0;
    border-color: #da95b0;
    color: white;
}

.button {
    width: 200px;
    background-color: #E086AE;
    color: white;
    margin-bottom: 20px;
    border-radius: 40px;
}

.button-doar {
    background-color: #f8c6d0;
    color: #327746;
    margin-top: 10px;
}

.label-w {
    color: white;
}

.button:hover {
    background-color: #c57d98;
    color: white;
}

.btn.button:active {
    background-color: #c57d98;
    color: white;
    border-color: #c57d98;
}

.logo {
    margin-top: 20px;
}

.logo img {
    width: 250px;
    height: auto;
    margin-bottom: 5px;
}

.slogan {
    color: #8fbf8f;
    font-weight: bold;
    font-size: 1rem;
}

.slogan span {
    display: block;
    font-size: 0.8rem;
    color: #777;
}

/*cadastro animal*/
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    max-width: 100%;
}

.botoesinicial {
    flex-direction: column;
}

.card5 {
    background-color: #d9f5d6;
    border: 4px solid #8fbf8f;
    padding: 20px 40px;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    width: 50%;
    color: white;
    justify-content: center;
    font-family: "Berlin Sans FB", sans-serif;
    font-size: 18px;
}

.imagem-card {
    border-radius: 12px;
    width: 1000px;
    height: 850px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-ini {
    padding: 8px 16px;
    border: none;
    border-radius: 50px;
    background-color: #5fa56e;
    color: #326c43;
    font-weight: bold;
    cursor: pointer;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 570px;
    height: 60px;
    margin: 10px;
    text-align: center;
    font-family: "Harlow Solid Italic", cursive;
    font-size: 20px;
}

.botoesinicial {
    align-items: center;
    text-align: center;
}

.textoini {
    color: #ffffff;
}


.topo-alt {
    background-color: #f8c6d0; /* rosa claro */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: white;
    font-size: 30px;
    text-shadow: 0 2px 4px darkgrey;
}

.topo-alt h1 {
    font-size: 28px;
    font-weight: bold;
}

.logo-texto-alt {
    font-size: 14px;
    text-align: center;
    color: #efefef;
}

.perfil-alt {
    font-size: 24px;
}


.card-alt {
    background-color: #c6f6ad;
    border: 10px solid #42ad62;
    border-radius: 15px;
    padding: 20px;
    width: 600px;
    text-align: center;
}


.card-alt form {
    background-color: #ffb9d8;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


.titulo-card-alt {
    background-color: #FFB9D8;
    color: #ffffff;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 20px;
}


.card-alt input,
.card-alt select,
.card-alt textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
}


.card-alt textarea {
    height: 80px;
    resize: none;
}


.btn-alt {
    margin: 5px;
    background-color: #42ad62;
    color: #ffffff;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
}

.btn-alt:hover {
    background-color: #42ad62;
}


.header {
    background-color: #f8c6d0; /* rosa claro */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: #ffffff;


}

.card-9 {
    background-color: #c6f6ad;
    border: 10px solid #42ad62; /* verde escuro */
    border-radius: 15px;
    padding: 20px;
    width: 1100px;
    text-align: center;
    height: 600px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card6 {
    background: #4E9E65;
    border-radius: 10px;
}

.card-body6 {
    background-color: #71B384;
    color: white;
    border-radius: 17px;
    width: 70%;
}

.card-body6 p {
    padding-bottom: 0;
}

.text-title {
    background-color: #71B384;
    width: 100px;
    border-radius: 5px;
}

.button2 {
    background-color: #FAC3DC;
    color: #E883B0;
    border-radius: 40px;
}

.button2:hover {
    background-color: #FAC3DC;
    color: #E883B0;
}

.btn.button2:active {
    background-color: #FAC3DC;
    color: #E883B0;
}

.card7 {
    background: #4E9E65;
    border-radius: 10px;
    width: 250px;
}


.card-body7 {
    background: #DAEFD5;
    border-radius: 17px;
}


.card-text {
    background-color: #A9E698;
    border-radius: 17px;
}

.card-text p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d1f0c7;
}

/*Adoções realizadas*/
.header10 {
    background-color: #f7c6d9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.header10 h1 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px #888;
}


.logo10 img {
    border-radius: 50%;
}


.perfil-btn10 {
    background: none;
    border: none;
    cursor: pointer;
}


.btn-voltar10 {
    background-color: #2d6a4f;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}


.container10 {
    padding: 20px;
    background: #BEECB1;
}

.card-left10 {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    background: #71B384;
    margin: 10px;
    padding: 10px;
    align-items: center;
    border-radius: 30px;
}

.card-right10 {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 10px;
    background: #71b384;
    border-radius: 30px;
}

.card-right10 p{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/*informações de adoção*/
.container11 {
    background-color: #ffe4ec;
    margin: 20px;
    padding: 30px;
    border: 3px dashed #6ab66f;
    border-radius: 10px;
    overflow: auto;
    scrollbar-width: none;
    max-width: 97%;
    max-height: calc(100vh - 160px);
    display: flex;
}

.card12 {
    background-color: #5c9e63;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 30px 10px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    border-collapse: collapse;
}

.card13 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
    background-color: #f19ec2;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 10px;

}

.card13 p {
    margin: 0 0 15px 0;
    font-size: 20px;
    font-weight: bold;

}

.card-right11 {
    background-color: #f08bb7;
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    margin: 10px auto;
    width: fit-content;
    display: inline-block;

}


/*Cadastro Para voluntarios*/
.container15 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 10px;
    color: white;
}

.card15 {
    background: #c6f6ad;
    padding: 40px;
    border: 5px solid #6ab66f; /* borda verde ondulada */
    border-radius: 20px;
    width: 80%;
    max-width: 900px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 589px;

}

.card12 h1 {
    font-size: 48px;
    color: #fff;
    text-shadow: 2px 2px 4px #555;
    margin: 0;
}


.form-grid15 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 40px;
    margin-bottom: 40px;
}

.form-group15 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group15 label {
    color: white;
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 18px;
}

.form-group15 input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    background-color: #FFB9D8;
    color: white;
    font-size: 16px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.form-group15 input::placeholder {
    color: #eee;
}

.form-actions15 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.btn-voltar15,
.btn-cadastrar15 {
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    background: #FFB9D8;
}

.btn-voltar15 {
    background: #FFB9D8;
    color: white;
}

.btn-voltar15:hover {
    background: #FFB9D8;
}

.btn-cadastrar15 {
    background: #FFB9D8;
    color: white;
}

.btn-cadastrar15:hover {
    background-color: #3c7c45;
}

.card20 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #daefd5;
    padding: 30px;
    border-radius: 20px;
    gap: 20px;
}

.card-left20, .card-right20 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.card-left20 {
    background: #f6b6c8;
    border-radius: 15px;
    padding: 13px;
}

.card-right20 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #4E9E65;
    border-radius: 15px;
    padding: 13px;
}

.card-left20 img, .card-right20 img {
    width: 50%;
}

.card-left20 h2 {
    background: #5d9c5d;
    color: #fff;
    text-align: center;
    padding: 8px;
    margin: 0;
    border-radius: 8px;
    font-size: 1.2rem;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #a6cba6;
    color: #fff;
    font-weight: bold;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
}

.btn-voltar {
    background: #2f7d2f;
    color: #fff;
    align-self: flex-start;
}

.btn-transferencia {
    background: #a6cba6;
    color: #fff;
    font-size: 0.9rem;
}


.img-20 {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.container20 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #beecb1;

}

.div_formulario {

    width: 100%;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.botao_voltar21 {
    background: #1DA66D;
    color: white;
    border-color: #1e8e5d;
    border-radius: 20px;
}

.botao_voltar21:hover {
    background: #178a55;
    color: white;
}

.btn.botao_voltar:active {
    background-color: #178a55;
    color: white;
    border-color: #178a55;
}

.button_sing21 {
    background: #71B384;
    border-color: #4E9E65;
    border-radius: 20px;
}

.card-body21 {
    /* fallback for old browsers */
    background: #DAEFD5;
    border-radius: 6px;
    border: 6px solid #EBA8C6;
}

.card-body2 {
    /* fallback for old browsers */
    background: #BEECB1;
    border-radius: 6px;
}

.card-body {
    background: #FAC3DC;
    border-radius: 17px;
    height: 100%;
    width: 60%;
}

.card21 {
    background: #F9E7EF;
    border-radius: 6px;
    width: 100%;
}

.card-body3 {
    background: #DAEFD5;
    color: white;
    border-radius: 6px;
    border: 6px solid #EBA8C6;
}

.card4 {
    background: #F9E7EF;
    border-radius: 6px;
    width: 100%;
}


.flash-message.success {
    background-color: #328a4c;
    color: white;
    width: 200px;
    padding: 9px;
    border: 2px solid #1e7034;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


.flash-message.error {
    background-color: #e488a9;
    color: white;
    width: 200px;
    padding: 9px;
    border: 2px solid #d56c91;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Card geral */
.card10 {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 400px;
    background-color: #4d9966;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    color: white;
    font-size: 18px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

/* Imagem */
.card-img10 img {
    width: 130px;
    height: 90px;
    border-radius: 10px;
}

/* Caixa do nome */
.card-name10 {
    background-color: #79c98a;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Caixa das informações */
.card-info10 {
    background-color: #5da67b;
    padding: 25px;
    border-radius: 10px;
    flex: 1;

}

.container10 {
    height: 100%;
}

.container4 {
    width: 100%;
    height: 100vh;
}

.select1 {
    width: 40%;
    height: 40px;
    background-color: #E086AE;
    color: white;
    border-radius: 20px;
}

.div-precisa {
    border-collapse: collapse;
}

.select2 {
    width: 15%;
    background-color: #4E9E65;
    color: white;
    border-radius: 20px;
}

.card8 {
    background: #4E9E65;
    border-radius: 10px;
    height: 60vh;
}


.card-body8 {
    background: #DAEFD5;
    border-radius: 17px;
    height: 90%;
    width: 85%;
    margin-left: 15px;

}


.card-text2 {
    background-color: #E883B0;
    color: white;
    border-radius: 17px;
    height: 30%;
    width: 70%;
    margin-left: 15px;
}


/*Pagina Pagamentos*/

.tabela {
    border: 5px solid #98CE89;
}

.table th {
    background: #F9E7EF;
    color: #d18aa5;
    overflow: hidden;

}

.table td {
    background: #F9E7EF;
    color: #daa8bc;
    overflow: hidden;

}

.botoes-nav1 {

    background-color: #FFBBD9;
    height: calc(100vh - 110px);
    /*border-right: 1px solid;*/
    text-align: center;
    float: left;
    font-size: 18px;
    width: 15%;
}

.botoes-main {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container-escolha {
    background-color: #ffe4ec;
    margin: 20px;
    padding: 30px;
    border: 3px dashed #6ab66f;
    border-radius: 10px;
    overflow: auto;
    scrollbar-width: none;
    width: 97%;
    height: calc(100vh - 50px);
    display: flex;
}

.card-escolha {
    background: #4E9E65;
    border-radius: 20px;
    border: 6px solid #EBA8C6;
    color: white;
}

.card-escolha img {
    border-radius: 20px;
    max-height: 225px;
}

.a-escolha {
    text-decoration: none;
}

.div-cards {
    overflow: auto;
    border-collapse: collapse;
    max-width: calc(100vw - 280px);
}