 /*Geral*/

* {
    margin: 0;
    padding: 0;
}




.topo-alt {
  background-color: #FEDBEA; /* rosa claro */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  color: white;
  font-size: 30px;
  text-shadow:  0 2px 4px darkgrey;
}


h1,h4 {
    font-family: "Purple purse";
    text-shadow:  0 2px 2px lightgrey;
    display: flex;
    justify-content: center;
}

.purple-purse-regular {
  font-family: "Purple Purse", serif;
  font-weight: 400;
  font-style: normal;
}


nav {
    background-color: #FFBBD9;
    height: calc(100vh - 110px);
    /*border-right: 1px solid;*/
    text-align: center;
    float: left;
    font-size: 18px;
    width: 13%;
}


main {
    height: calc(100vh - 110px);
    width: 100%;
    background-color: #BEECB1;
    font-size: 16px;
}


.botao_voltar {
    background: #1DA66D;
    color: white;
    border-color: #1e8e5d;
    border-radius: 20px;
}

.botao_voltar:hover {
    background: #178a55;
    color: white;

}

.btn.botao_voltar:active {
  background-color: #178a55;
  color: white;
  border-color: #178a55;
}



/*Pagina Inicial*/

.card-body2 {
/* fallback for old browsers */
    background: #BEECB1;
    border-radius: 6px;
}


.container2 {
    background: #F9E7EF;
    border-radius: 6px;
    height: 80vh;

    padding-top: 10px;
    padding-bottom: 20px;
    gap: 10px;
}

#testes{
    background-color: #00329f;
}
.card-body {
    background: #FAC3DC;
    border-radius: 17px;
    height: 40vh;
    width: 60%;
}


.button_login {
    background: #EBA8C6;
    border-color: #da95b0;
    border-radius: 20px;
    color: white;
}

.button_login:hover {
    background-color: #da95b0;
    color: white;
}

.btn.button_sing:active {
  background-color: #da95b0;
  border-color: #da95b0;
  color: white;
}

#teste{
    height: 10vh;
}
h5 {
    color: white;
}


.fundo {
    height: 100vh;
    overflow: hidden;

}



/*Pagina login*/

.card-body21 {
/* fallback for old browsers */
    background: #DAEFD5;
    color: white;
    width: 100vw;
    border-radius: 6px;
    border: 6px solid #EBA8C6;
}

.card4 {
    background: #F9E7EF;
    border-radius: 6px;
    width: 100%;
}

.button_sing {
    background: #71B384;
    border-color: #4E9E65;
    color: white;
    border-radius: 20px;
}

.button_sing:hover {
    background-color: #4E9E65;
    border-color: #327746;
    color: white;
}

.btn.button_sing:active {
  background-color: #4E9E65;
  color: white;
  border-color: #327746;
}



/*Pagina Adotar*/

.container4 {
    display: block;
    width: 100vw;
    height: 100vh;
}


.button {
    width: 70%;
    background-color: #E086AE;
    color: white;

    margin-bottom: 20px;
    border-radius: 40px;
}

.button:hover {
    background-color: #c57d98;
    color: white;
}

.btn.button:active {
  background-color: #c57d98;
  color: white;
  border-color: #c57d98;
}


.select1 {
    width: 70%;
    height:  40px;
    background-color: #E086AE;
    color: white;
    border-radius:  20px;
}


.card6 {
    background: #4E9E65;
    border-radius: 10px;
    height: 50vh;
}


.card-body6 {
     background-color: #71B384;
     color: white;
     border-radius: 17px;
     height: 50%;
     width: 70%;
     margin-left: 15px;
}


.card-text {
    background-color: #A9E698;
     border-radius: 17px;
     height: 60%;
     width: 88%;
     margin-left: 15px;
}


.text-title {
   background-color: #71B384;
   width: 100px;
   border-radius: 5px;
}

.button2 {
    background-color: #FAC3DC;
    color: #E883B0;
    margin-bottom: 20px;
    border-radius: 40px;
}

.button2:hover {
    background-color: #FAC3DC;
    color: #E883B0;
}

.btn.button2:active {
  background-color: #FAC3DC;
  color: #E883B0;
}


p {
    margin: 2px;
}

ul {
    list-style-type: none;
    width:  100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*Pagina Voluntario*/

.card7 {
    background: #4E9E65;
    border-radius: 10px;
    height: 60vh;
}


.card-body7 {
    background: #DAEFD5;
    border-radius: 17px;
    height: 85%;
    width: 80%;
    margin-left: 15px;

}


.card-text {
    background-color: #A9E698;
     border-radius: 17px;
     height: 60%;
     width: 88%;
     margin-left: 15px;
}


.select2 {
    width: 15%;
    background-color: #4E9E65;
    color: white;
    border-radius:  20px;
}



/*Pagina Doações*/

.card8 {
    background: #4E9E65;
    border-radius: 10px;
    height: 60vh;
}


.card-body8 {
    background: #DAEFD5;
    border-radius: 17px;
    height: 90%;
    width: 85%;
    margin-left: 15px;

}


.card-text2 {
     background-color: #E883B0;
     color: white;
     border-radius: 17px;
     height: 30%;
     width: 70%;
     margin-left: 15px;
}