<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adoções</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>


<header class="header10">
    <div class="logo10">
        <img src="/static/Logo.png" alt="Logo" width="100" height="100">
    </div>

    <h1>ADOÇÕES</h1>
</header>

<main class="container10">
    <a class="btn-secondary" href="{{ url_for('listar_animais') }}">
        <i class="bi bi-arrow-left-short"></i> Voltar
    </a>

    {% if adocoes %}
        {% for adocao in adocoes %}
        <div class="card10">
            <div class="card-left10">
                <img src="{{ adocao.imagem }}" class="card-img-top mx-auto d-block mt-1 rounded-4 shadow"
                     style="height: 100px; width: 100px;">
                <p><strong>animal:</strong> {{ adocao.animal }}</p>
            </div>

            <div class="card-right10">
                <p><strong>Adotante:</strong> {{ adocao.nome_adotante }}</p>
                <p><strong>Data:</strong> {{ adocao.data_adocao }}</p>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p style="text-align: center; margin-top: 2rem;">
            Nenhuma adoção registrada.
        </p>
    {% endif %}
</main>

</body>
</html>
