{% extends 'base.html' %}

{% block main %}
<div class="d-flex flex-row justify-content-start flex-wrap">
    {% if adocoes %}
        {% for adocao in adocoes %}
        <div class="card10">
            <div class="card-left10">
                <img src="{{ adocao.imagem }}" class="card-img-top mt-1 rounded-4 shadow w-100">
                <p><strong>animal:</strong> {{ adocao.animal }}</p>
            </div>

            <div class="card-right10">
                <p><strong>Adotante:</strong> {{ adocao.nome_adotante }}</p>
                <p><strong>Data:</strong> {{ adocao.data_adocao }}</p>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p style="text-align: center; margin-top: 2rem;">
            Nenhuma adoção registrada.
        </p>
    {% endif %}
</div>

{% endblock main %}
