<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adoções</title>
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>


    <header class="header10">
        <div class="logo10">
            <img src="/logo1.png" alt="Logo" width="100" height="100">
        </div>
        <h1>ADOÇÕES</h1>
        <div class="perfil10">
            <button class="perfil-btn10">
                <img src="/personagem.png" alt="Perfil" width="50" height="50">
            </button>
        </div>
    </header>


    <main class="container10">
        <button class="btn-voltar10">← Voltar</button>


        <div class="card10">
            <div class="card-left10">
                <p><strong>Cão Balinha:</strong></p>
            </div>
            <div class="card-right10">
                <p><strong>Adotante:</strong> Laura <br>
                   <strong>Cpf:</strong> 47575073809</p>
                <p><strong>Telefone:</strong> 18996381980 <br>
                   <strong>Adoção:</strong> Em andamento</p>
            </div>
        </div>


        <div class="card10">
            <div class="card-left10">
                <p><strong>Gato Mely:</strong></p>
            </div>
            <div class="card-right10">
                <p><strong>Adotante:</strong> Julia <br>
                   <strong>Cpf:</strong> 12234567896</p>
                <p><strong>Telefone:</strong> 18995748097 <br>
                   <strong>Adoção:</strong> Fechada</p>
            </div>
        </div>


        <div class="card10">
            <div class="card-left10">
                <p><strong>Coelho Tinny:</strong></p>
            </div>
            <div class="card-right10">
                <p><strong>Adotante:</strong> Higor <br>
                   <strong>Cpf:</strong> 46378908761</p>
                <p><strong>Telefone:</strong> 18981392570 <br>
                   <strong>Adoção:</strong> Em aberto</p>
            </div>
        </div>
    </main>


</body>
</html>
