<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cadastro - Brilho no Olhar Pet</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
  <div class="container15">
    <div class="card15">
      <h1>Cadastro de Voluntário</h1>

      <!-- Mensagens -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="flash-{{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <form action="{{ url_for('cadastro_voluntario', ong_id=ong_id) }}" method="POST">
        <input type="hidden" name="usuario_id" value="{{ usuario_id }}">
        <input type="hidden" name="ong_id" value="{{ ong_id }}">




        <div class="form-actions15">
          <a class="btn-secondary" href="{{ url_for('pagina_inicial') }}">
            <i class="bi bi-arrow-left-short"></i>Voltar
          </a>

          <button type="submit" class="btn-cadastrar15">
            Confirmar Cadastro ▸
          </button>
        </div>

      </form>
    </div>
  </div>

  <style>
    .flash-success { color: green; margin-bottom: 1rem; }
    .flash-danger { color: red; margin-bottom: 1rem; }
  </style>

</body>
</html>
