<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Animal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>


<header class="topo-alt">
    <div class="logo-texto-alt">
        <img src="/static/Logo.png" width="100" height="80">
    </div>
    <h1>Cadastro de Animal</h1>
    <div class="perfil-alt">

            <img src="/static/personagem.png" width="50" height="50" alt="">

    </div>
</header>


<main class="container1">
    <div class="card-alt">
        <h2 class="titulo-card-alt">Preencha os dados abaixo</h2>

        <!-- Formulário principal -->
        <form action="{{ url_for ('cadastro_animal') }}" method="POST">
             <select name="categoria" required
                style="background-color: #A8CBA4; color: #555; border-radius: 10px; padding: 8px; border: none; width: 525px;">
                <option disabled selected>categoria</option>
                <option value="cachorro">cachorro</option>
                <option value="gato">gato</option>
                <option value="coelho">coelho</option>
            </select>
            <input type="text" name="nome" placeholder="Nome" required>
            <input type="number" name="idade" placeholder="Idade" min="0" required>
            <input type="text" name="raca" placeholder="Raça" required>

            <select name="sexo" required
                style="background-color: #A8CBA4; color: #555; border-radius: 10px; padding: 8px; border: none; width: 525px;">
                <option disabled selected>Sexo</option>
                <option value="Macho">Macho</option>
                <option value="Fêmea">Fêmea</option>
            </select>

            <label for="url">Adicione o link da Imagem:</label>
            <input type="url" id="url" name="imagem" placeholder="https://exemplo.com" required>

            <button type="submit" class="bnt-alt">Concluir</button>
        </form>

        <a href="{{ url_for('listar_animais') }}" class="btn button2 mt-2" style="width: 13rem;">Voltar</a>
    </div>
</main>

</body>
</html>
