<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Animal</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/base.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Purple+Purse&display=swap" rel="stylesheet">
</head>
<body>


<header class="topo-alt">
    <div class="logo-texto-alt">
        <img src="/static/Logo.png" width="100" height="80">
    </div>
    <h1>Cadastro de Animal</h1>
    <div class="perfil-alt">
        <img src="/static/personagem.png" width="50" height="50" alt="">
    </div>
</header>


<main class="container1">
    <div class="card-alt">
        <h2 class="titulo-card-alt">Preencha os dados abaixo</h2>

        <!-- Formulário principal -->
        <form action="{{ url_for ('cadastro_animal') }}" method="POST">
            <select name="categoria" required
                    style="background-color: #A8CBA4; color: #555; border-radius: 10px; padding: 8px; border: none;">
                <option disabled selected>Categoria</option>
                <option value="cachorro">Cachorro</option>
                <option value="gato">Gato</option>
                <option value="coelho">Coelho</option>
            </select>
            <input type="text" name="nome" placeholder="Nome" required>
            <input type="number" name="idade" placeholder="Idade" min="0" required>
            <input type="text" name="raca" placeholder="Raça" required>

            <select name="sexo" required
                    style="background-color: #A8CBA4; color: #555; border-radius: 10px; padding: 8px; border: none;">
                <option disabled selected>Sexo</option>
                <option value="Macho">Macho</option>
                <option value="Fêmea">Fêmea</option>
            </select>

            <label for="url">Adicione o link da Imagem:</label>
            <input type="url" id="url" name="imagem" placeholder="https://exemplo.com" required>

            <button type="submit" class="bnt-alt">Concluir</button>
        </form>

        <a href="{{ url_for('listar_animais', status='d') }}" class="btn botao_voltar" style="width: 13rem;">
            <i class="bi bi-arrow-left-short"></i>Voltar
        </a>
    </div>
</main>

</body>
</html>
