<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adoções</title>
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>


<header class="header10">
    <div class="logo10">
        <img src="/logo1.png" alt="Logo" width="100" height="100">
    </div>
    <h1>Informaçoes da Adoção</h1>
    <div class="perfil10">
        <button class="perfil-btn10">
            <img src="/personagem.png" alt="Perfil" width="50" height="50">
        </button>
    </div>
</header>

<main class="container11">


    <div class="card11">
        <div class="card12">Mais informações dos Animais</div>
        <div class="card12">O que é necessário para adotar?</div>
    </div>


    <div class="card13">
        <p>Entre em contato:</p>
        <div class="card-right11">(18) 99766-7924</div>
        <div class="card-right11">BrilhonoOlharPET@gmail.com</div>
        <div class="card-right11">@BrilhonoOlharPET</div>
    </div>


    <button class="btn-voltar10">← Voltar</button>

</main>

</body>
</html>