{% if papel == 'voluntario' %}
    {% extends 'base.html' %}
{% else %}
    {% extends 'base_ong.html' %}
{% endif %}

{% block main %}

    <div class="d-flex gap-3 p-2">
        {% if voluntarios %}

            {% if papel == 'ong' %}
                {% for voluntario in voluntarios %}
                <div class="card10">
                    <h3>{{ voluntario.id_voluntario }}</h3>
                    <div class="card-left10">
                        <i class="bi bi-person"></i>
                        <h5 class="text-center">{{ voluntario.nome_voluntario }}</h5>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                {% for voluntario in voluntarios %}
                    <div class="card7 d-flex flex-column justify-content-center p-3">
                        <div class="card-body7 mx-1 p-3 text-center">
                            <p class="text-center d-flex justify-content-center"><strong>{{ voluntario.nome_ong }}</strong></p>

                            <img src="{{voluntario.imagem }}" class="card-img-top mx-auto mb-2 d-block rounded-4 shadow"
                                 style="height: 150px; width: 150px;">

                            <div class="card-text div-precisa text-center p-2 d-flex flex-column justify-content-start align-items-center">
                                <p><strong>Ong:</strong> {{ voluntario.ong }}</p>
                            </div>

                            <a href="{{ url_for('cadastro_doacao', ong_id=2) }}"
                               class="btn button2 mt-2" style="width: 100%"><strong>Doar</strong></a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <p style="text-align: center; margin-top: 2rem;">
                Nenhuma voluntário registrado.
            </p>
        {% endif %}
    </div>

{% endblock main %}
