<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pagamento - Via Pix</title>
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-error">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<header class="topo-alt">
    <div class="logo-texto-alt">
        <img src="/Logo.png" width="100" height="100" alt="Logo Brilho no Olhar Pet">
    </div>
    <h1>Pagamento - Via Pix</h1>
    <div class="perfil-alt">
        <button><img src="/personagem.png" width="50" height="50" alt="Perfil"></button>
    </div>
</header>


<div class="container20">
    <div class="card20">

        <!-- Coluna esquerda - formulário -->
        <div class="card-left20">
            <h2>Preencha seus dados</h2>
            <form class="div_formulario">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome">

                <label for="CPF">CPF:</label>
                <input type="text" id="CPF" name="CPF">
            </form>
            <a href="{{url_for('pagina_doacoes')}}" class="btn button2" style="width: 7rem">Voltar</a>
        </div>

        <!-- Coluna direita - QR Code -->
        <div class="card-right20">
            <img class="img-20" src="./qrcode.png" alt="QR Code Pix">
            <button class="btn-transferencia">Caso Seja Transferência Bancária ▸</button>
            <a href="{{url_for('pagina_doacoes')}}" class="btn-doar">Doar</a>
        </div>
    </div>
</div>

</body>
</html>
