<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pagina Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous">

    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body>
<main class="fundo" style="background-color: #F3CDDE;">
    <div class="container3 d-flex justify-content-center align-items-center space p-3 px-5">
        <div class="card4 row d-flex justify-content-center align-items-center my-4 ">
            <div class="col-xl-5 my-4">
                <div class="card5 shadow-2-strong mx-5">
                    <div class="card-body3 p-4 text-center">

                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="flash-error">
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endwith %}

                        <div class="d-flex justify-content-center align-items-center">
                            <div class="login-container text-center">
                                <img src="../static/Logo.png" class="logo" alt="Logo Brilho no Olhar Pet">

                                <form action="{{ url_for('login') }}" method="POST">
                                    <div class="form-group text-start mb-3">
                                        <label for="cpf">CPF</label>
                                        <input type="number" name="cpf" id="cpf" class="form-control" required>
                                    </div>

                                    <div class="form-group text-start mb-4">
                                        <label for="senha">Senha</label>
                                        <input type="password" name="senha" id="senha" class="form-control" required>
                                    </div>

                                    <div class="div-botoes d-flex justify-content-center flex-column align-items-center">
                                        <button type="submit" class="button_sing btn px-4 mb-2">Entrar</button>

                                        <a href="{{ url_for('index') }}"
                                           class="botao_voltar btn d-flex align-items-center px-3">
                                            <i class="bi bi-arrow-left-short"></i> Voltar
                                        </a>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</body>
</html>
