<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pagina de Animais</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/states/style.css">

</head>
<body>
<div class="container4">

    <header class="topo-alt">
        <div class="logo-texto-alt"><img src="Logo.png" width="100" height="80"></div>
        <h1>Adote-me</h1>
        <div class="perfil-alt">
            <botton><img src="/personagem.png" width="50" height="50" alt=""></botton>
        </div>
    </header>


    <nav class="navbar justify-content-center">
        <ul>
            <li>
                <a href="https://www." class="btn button">Cachorro</a>
            </li>
            <li>
                <a href="https://www." class="btn button">Gato</a>
            </li>
            <li>
                <a href="https://www." class="btn button">Coelho</a>
            </li>
            <li>
                <select id="escolha">
                    <option value="femea">Femea</option>
                    <option value="macho">Macho</option>
                </select>
            </li>
        </ul>

        <ul>
            <li>
                <a href="https://www." class="btn button">Adoções</a>
            </li>
            <li>
                <a href="https://www." class="btn button">Informações</a>
            </li>
            <li>
                <a href="https://www." class="btn button">ADD +</a>
            </li>
            <li>
                <a href="https://www." class=" botao_voltar btn">Voltar</a>
            </li>

        </ul>
    </nav>

        <main class="">

        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
</div>
</body>