{% extends 'base.html' %}

{% block main %}
    <div class="div-cards d-flex flex-wrap">
        {% if animais %}
            {% for animal in animais %}
                <div class="card6 d-flex flex-column justify-content-center align-items-center shadow mt-4 mx-4"
                 style="width: 17rem;">

                <h5 class="text-title text-center">{{ animal.nome }}</h5>
                <img src="{{ animal.imagem }}" class="card-img-top mx-auto d-block mt-1 rounded-4 shadow"
                     style="height: 100px; width: 100px;">

                <div class="card-body6 text-center mx-3 my-2 d-flex flex-column justify-content-center align-items-center">
                    <p>{{ animal.raca }}</p>
                    <p>{{ animal.idade }} anos</p>
                    <a href="{{ url_for('cadastro_adocao', id_animal = animal.id_animal) }}"
                       class="btn button2 mt-2 ">Adotar</a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Não há animais disponíveis</p>
        {% endif %}
    </div>
{% endblock main %}
