<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>

<div class="container1">
    <img src="/fundoini.png" alt="Imagem Inicial" class="imagem-card">



    <div class="card5">
        <h1>Página Inicial</h1>
        <div class="textoini">
            <h3>Brilho no Olhar Pet</h3>
        </div>
        <div class="botoesinicial">
            <button type="submit" class="btn-ini">Adoções Disponiveis</button>
            <button type="submit" class="btn-ini">Se torne um Voluntário</button>
            <button type="submit" class="btn-ini">Doações</button>
            <button type="submit" class="btn-ini">Resgate e Denuncia</button>
            <button type="submit" class="btn-ini">Adicione a sua ONGS</button>

        </div>
    </div>

</div>
</div>

</body>
</html>
