<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>

<div class="container1">
    <img src="/fundoini.png" alt="Imagem Inicial" class="imagem-card">

    <div class="card5 p-4 shadow rounded text-center">
        <h1 class="mb-3">Página Inicial</h1>

        <div class="textoini mb-4">
            <h3>Brilho no Olhar Pet</h3>
        </div>

        <div class="botoesinicial d-flex flex-column gap-3 mx-auto" style="max-width: 300px;">
            <a href="{{ url_for('pagina_doacoes') }}" class="btn btn-ini btn-lg">Adoções Disponíveis</a>
            <a href="{{ url_for('doacoes_realizada') }}" class="btn btn-ini btn-lg">Adoções Realizadas</a>
            <a href="{{ url_for('voluntario') }}" class="btn btn-ini btn-lg">Voluntário</a>
            <a href="{{ url_for('resgate') }}" class="btn btn-ini btn-lg">Resgate e Denúncia</a>
            <a href="{{ url_for('cadastrar_ongs') }}" class="btn btn-ini btn-lg">Adicione a sua ONG</a>
            <a href="{{ url_for('pagina_adotar') }}" class="btn btn-ini btn-lg">Adote-me</a>

        </div>
    </div>

</div>
</div>

</body>
</html>
