<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adoções</title>
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>


<header class="header10">
    <div class="logo10">
        <img src="/logo1.png" alt="Logo" width="100" height="100">
    </div>
    <h1>Resgate e Denuncia</h1>
    <div class="perfil10">
        <button class="perfil-btn10">
            <img src="/personagem.png" alt="Perfil" width="50" height="50">
        </button>
    </div>
</header>

<main class="container11">


    <div class="card11">
        <div class="card12">OQUE FAZER EM CASO DE ABONDONO??
            <hr>

            Em um resgate de animal, o ideal é retirá-lo de imediato do risco, oferecendo água, comida e abrigo seguro.
            Depois, é importante levá-lo a um veterinário, para avaliação de saúde, vacinas e possíveis tratamentos.
            Em seguida, deve-se registrar e divulgar o resgate, com fotos e informações, a fim de buscar um lar
            responsável. Por fim,
            o animal só deve ser entregue para adoção após passar por cuidados básicos e,
            se possível, castração, garantindo que ele tenha uma vida digna e segura.
        </div>


        <div class="card12">PELO OQUE DEVEMOS DENUNCIAR?
            <hr>

            Maus-tratos → quando o animal sofre violência física, abandono, falta de comida, água, cuidados ou abrigo.
            <hr>

            Adoções irresponsáveis → quando a pessoa adota e depois abandona, maltrata ou não cuida corretamente.
            <hr>

            Venda ou criação ilegal → criadouros clandestinos, exploração de fêmeas para reprodução sem condições
            adequadas.
            <hr>

            Acúmulo de animais sem cuidado → quando alguém junta muitos animais, mas não consegue oferecer alimentação,
            higiene e saúde.
            <hr>
        </div>
    </div>


    <div class="card13">
        <p>Entre em contato:</p>
        <div class="card-right11">(18) 99766-7924</div>
        <div class="card-right11">(18) 99766-7924</div>
        <div class="card-right11">BrilhonoOlharPET@gmail.com</div>
        <div class="card-right11">@BrilhonoOlharPET</div>
    </div>


    <a class="btn-secondary" href="{{url_for('pagina_inicial')}}">
                <i class="bi bi-arrow-left-short"></i>Voltar</a>

</main>

</body>
</html>