<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adoções</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>

<header class="header10">
    <div class="logo10">
        <img src="/static/Logo.png" alt="Logo" width="100" height="100">
    </div>
    <h1>Resgate e Denuncia</h1>
    <div class="perfil10">
        <button class="perfil-btn10">
            <img src="/static/personagem.png" alt="Perfil" width="50" height="50">
        </button>
    </div>
</header>
<main class="container11 d-flex">

    <!-- Conteúdo principal -->
    <div class="d-flex flex-column gap-1">

        <div class="card11 d-flex flex-column gap-3 pb-3">

             <!-- Lateral de contato -->
            <div class="d-flex flex-row align-items-center justify-content-end">
                <!-- Botão Voltar -->
                <a href="{{ url_for('listar_animais', status='d') }}" class="botao_voltar btn">
                    <i class="bi bi-arrow-left-short"></i> Voltar
                </a>
                <div class="card-right11">(18) 99766-7924</div>
                <div class="card-right11">(18) 99766-7924</div>
                <div class="card-right11">BrilhonoOlharPET@gmail.com</div>
                <div class="card-right11">@BrilhonoOlharPET</div>
            </div>

            <div class="card12">
                <h3>O QUE FAZER EM CASO DE ABANDONO?</h3>
                <hr>
                Em um resgate de animal, o ideal é retirá-lo de imediato do risco, oferecendo água, comida e abrigo
                seguro.
                Depois, é importante levá-lo a um veterinário, para avaliação de saúde, vacinas e possíveis tratamentos.
                Em seguida, deve-se registrar e divulgar o resgate, com fotos e informações, a fim de buscar um lar
                responsável. Por fim, o animal só deve ser entregue para adoção após passar por cuidados básicos e,
                se possível, castração, garantindo que ele tenha uma vida digna e segura.
            </div>

            <div class="card12">
                <h3>PELO O QUE DEVEMOS DENUNCIAR?</h3>
                <hr>
                Maus-tratos → quando o animal sofre violência física, abandono, falta de comida, água, cuidados ou
                abrigo.
                <hr>
                Adoções irresponsáveis → quando a pessoa adota e depois abandona, maltrata ou não cuida corretamente.
                <hr>
                Venda ou criação ilegal → criadouros clandestinos, exploração de fêmeas para reprodução sem condições
                adequadas.
                <hr>
                Acúmulo de animais sem cuidado → quando alguém junta muitos animais, mas não consegue oferecer
                alimentação, higiene e saúde.
            </div>

        </div>
    </div>
</main>
</body>
</html>
